
      body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

.profile-container {
    padding: 20px;
    background: white;
    max-width: 303px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.profile-picture img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #2aabd2;
    margin-top: 20px;
}

h1 {
    margin-top: 10px;
    font-size: 1.5em;
    color: #333;
}

.title {
    color: #555;
    font-style: italic;
    margin-bottom: 10px;
}

.summary {
    font-size: 0.9em;
    margin-bottom: 20px;
}

.action-buttons .btn {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 0.8em;
}

/* Style général pour les boutons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 16px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    width: 200px; /* largeur fixe pour tous les boutons */
}

.linkedin {
    background-color: #0077b5;
}

.instagram {
    background-color: #e4405f;
}

.email {
    background-color: #3498db;
}

.save-contact {
    background-color: #16a085;
}

/* Classes pour les icônes, à adapter selon la bibliothèque d'icônes utilisée */
.icon {
    padding-right: 5px; /* espace entre l'icône et le texte */
}
